@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*Varibales*/
/*Universal*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 65.5%; }

body {
  font-size: 2rem;
  min-height: 100vh;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
a,
p {
  color: #191919; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

button {
  border: none;
  padding: 1rem;
  cursor: pointer; }

/*settings*/
.d-flex-nav {
  display: flex;
  align-items: center;
  justify-content: center; }

.custom__button {
  border-radius: .5rem;
  color: #fdfffc;
  background-color: #191919; }

/*header*/
.header__nav {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  padding: .5rem 0; }
  .header__nav a {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold; }

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 5rem; }
  .main .main__section-promotion {
    padding: 0 5rem;
    position: relative; }
    .main .main__section-promotion h1 {
      position: relative;
      color: #ff6b6b; }
    .main .main__section-promotion h1::after {
      content: '';
      width: 60rem;
      height: .6rem;
      background-color: #ff6b6b;
      position: absolute;
      bottom: -1rem;
      left: 0; }
    .main .main__section-promotion .main__section-body p,
    .main .main__section-promotion .main__section-body button {
      margin-top: 2rem; }
    .main .main__section-promotion .main__section-body p {
      padding: 0 20rem 0 0; }
    .main .main__section-promotion .main__section-body button:hover {
      background-color: #ff6b6b; }
    .main .main__section-promotion .main__section-body button:active {
      background-color: #191919; }
  .main .main__section-img {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
    border: 0.1rem solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem; }
    .main .main__section-img img {
      padding: 1rem;
      width: 110rem;
      border-radius: 1rem; }

.section {
  background: linear-gradient(90deg, #ff6b6b, #ffe66d);
  padding: 4rem 5rem; }
  .section .section__promotion {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
    border: 0.1rem solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem; }
    .section .section__promotion .section__promotion-accessory {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 2rem; }
      .section .section__promotion .section__promotion-accessory i {
        font-size: 4.8rem; }
      .section .section__promotion .section__promotion-accessory h2,
      .section .section__promotion .section__promotion-accessory p {
        text-align: center;
        padding-top: 1rem; }
      .section .section__promotion .section__promotion-accessory p {
        text-align: center;
        letter-spacing: .2rem; }

.footer {
  background-color: #191919;
  padding: 1rem 5rem; }
  .footer .footer__final p {
    font-size: 1.5rem;
    text-align: center;
    color: #fdfffc; }

/*Resize*/
@media (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    align-items: flex-start; }
    .main .main__section-promotion h1::after {
      width: 60rem; }
    .main .main__section-img {
      margin: 0 5rem; }
      .main .main__section-img img {
        width: 50rem; }
  .section {
    text-align: center; } }

@media (max-width: 850px) {
  .main .main__section-promotion h1::after {
    width: 50rem; }
  .main .main__section-promotion .main__section-body p {
    padding: 0; }
  .section .section__promotion {
    flex-direction: column; } }

@media (max-width: 690px) {
  .main .main__section-promotion h1::after {
    width: 40rem; } }

@media (max-width: 592px) {
  .main {
    padding: 4rem 3rem; }
    .main .main__section-promotion h1::after {
      width: 30rem; }
  .section {
    padding: 4rem 3rem; }
  .footer {
    padding: 1rem 3rem; } }

@media (max-width: 550px) {
  .main .main__section-promotion h1 {
    font-size: 3.5rem; }
  .main .main__section-promotion h1::after {
    width: 20rem; }
  .main .main__section-promotion .main__section-body h2 {
    font-size: 2rem; }
  .main .main__section-promotion .main__section-body p {
    font-size: 1.5rem; }
  .main .main__section-promotion .main__section-body button {
    font-size: 1.5rem; }
  .main .main__section-img img {
    width: 70rem; }
  .section .section__promotion .section__promotion-accessory h2 {
    font-size: 2rem; }
  .section .section__promotion .section__promotion-accessory p {
    font-size: 1.5rem; } }

@media (max-width: 320px) {
  .main .main__section-promotion h1 {
    font-size: 3rem; }
  .main .main__section-promotion h1::after {
    width: 15.5rem; } }
